/* General Styles */
:root {
    --primary-bg: #1E1E1E;
    --secondary-bg: #282828;
    --button-bg: #404040;
    --text-color: #FFFFFF;
    --border-color: #000000;
    --accent-color: #b2b2b2;
}

/* AnchorPane */
.anchor-pane {
    -fx-background-color: var(--primary-bg);
}

/* BorderPane */
.border-pane {
    -fx-background-color: var(--primary-bg);
}

/* VBox (Sidebar) */
.sidebar {
    -fx-background-color: var(--secondary-bg);
}

/* Buttons */
.button {
    -fx-background-color: var(--secondary-bg);
    -fx-text-fill: var(--text-color);
    -fx-font-family: "JetBrains Mono Regular";
    -fx-font-size: 16px;
}

.button:hover {
    -fx-background-color: #3b3b3b;
}

.button:pressed {
    -fx-background-color: #2a2a2a;
}

/* Label */
.label {
    -fx-text-fill: var(--accent-color);
    -fx-font-family: "JetBrains Mono Regular";
    -fx-font-size: 16px;
}

.label.bold {
    -fx-font-family: "JetBrains Mono Bold";
}

/* TextField */
.text-field {
    -fx-background-color: #404040;
    -fx-text-fill: var(--text-color);
    -fx-font-family: "JetBrains Mono Regular";
    -fx-font-size: 16px;
}

.text-field:focused {
    -fx-border-color: #606060;
}

/* PasswordField */
.password-field {
    -fx-background-color: #404040;
    -fx-text-fill: var(--text-color);
    -fx-font-family: "JetBrains Mono Regular";
    -fx-font-size: 16px;
}

.password-field:focused {
    -fx-border-color: #606060;
}

/* Pane */
.pane {
    -fx-background-color: var(--primary-bg);
    -fx-border-color: var(--border-color);
    -fx-border-width: 1px;
}

/* ImageView */
.image-view {
    -fx-preserve-ratio: true;
    -fx-fit-height: 20px;
    -fx-fit-width: 20px;
}

/* Lines */
.line {
    -fx-stroke: #404040;
    -fx-stroke-width: 2px;
}

/* Buttons (Top Pane) */
.top-button {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: var(--text-color);
    -fx-font-family: "JetBrains Mono Italic";
    -fx-font-size: 16px;
}

.top-button:hover {
    -fx-background-color: #5a5a5a;
}

/* Additional Styles */
.button.icon {
    -fx-background-color: transparent;
    -fx-text-fill: var(--text-color);
    -fx-font-family: "JetBrains Mono Italic";
    -fx-font-size: 16px;
}
